{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/create_site.css' %}">

{% endblock head %}

{% block content %}
<div class="container">
<h2 class="text-light">Создать сайт</h2>
<form action="{% url 'create_site' %}" method="post" enctype="multipart/form-data" >
{% csrf_token %}
{{form.name}}
{{form.description}}
<label class="lab" for="file">Фото</label>
{{form.site_photo}}
<label class="lab" for="html_file">Файл</label>
{{form.html_file}}

    <button type="submit" class="btn btn-warning btn-sm but">Создать</button>
    {{form.name.errors}}
        </form>
        
</div>



{% endblock content %}


