.container {

    width: 400px;
    height: 600px;
    background: rgba(0, 0, 0, .4);
    border-radius: 10px;
    text-align: center;
}

.form {
    color: aliceblue;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    width: 200px;
}
div form {
    text-align: center;
}
.form-container {
    margin-top: 20px;
    position: relative;
    
}
.field {
    margin-top: 20px;
    height: 70px;
}
.errorlist li {
    list-style-type: none;
    color: #dc3545;
    
}
.but {
    margin-left: 120px;
    width: 160px;
}
.prompt li{
    list-style-type: none;
    color: #dcdcdc;
}
