.user {
    height: 400px;
    width: 300px;
    margin: 10px;
    background: rgba(0, 0, 0, .4);
    border-radius: 10px;
    text-align: center;

}
.img {
    margin: 25px;
    height: 250px;
    width: 250px;
    border-radius: 20px;
}
.content div {
    display: inline-block;
}