.container {
    text-align: center;
    position: relative;
    background: rgba(0, 0, 0, .4);
    width: 600px;
    
    max-width: 600px;
    border-radius: 10px;
}
.img {
    margin: 20px;
    width: 540px;
    border-radius: 10px;
    
}
.spase {
    height: 20px;
}